#list of businesses and option to order by ranking using scope method

<h1>All Busnisses </h1>

<h4> Search by Business: </h4>
<%= form_tag(businesses_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag ("Search") %>
<% end %>
<% @businesses.each do |business| %>
    <ul>
     Name: <%= link_to business.business_name, business_path(business) %><br>

    Type: <%= business.business_type %><br>
    Address: <%= business.business_address %><br>
    Phone Number: <%= business.business_phone_number %><br>
        
    </ul>
<% end %>
<h3>Enter a <%= link_to "New Business", new_business_path%> here! </h3>
Return to your <%= link_to "Home Page.", '/users/[:id]' %>
<h3> Return to <%= link_to "User Page.", login_path %> </h3>