<h1><%= @business.business_name %> </h1>
<div><h4>
<p> <h1><%= @business.business_type %> 
<h1><%= @business.business_address %> 
<h1><%= @business.business_phone_number %></h4<></div>

<% @business.reviews.each do |r| %>
<%= r.review_title %>
<% end %>

<div><h4><%= link_to "Review this business.", new_business_review_path(@business)%>
<p>
Return to your <%= link_to "Home Page.", '/users/[:id]' %> </h4></div>
