<h1>INCLUSIVE</h1>
<h2> Log in or Sign up to Review local businesses for Disability Accesibility!</h2>
<% if @user && @user.errors.any? %>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>
<h3> Click here to <%= link_to "log in", login_path%>, or make an account below.</h3>
<div>
<%= form_for @user do |f| %>
    <%= f.label :username %><br>
    <%= f.text_field :username %><br><br>
    <%= f.label :email %><br>
    <%= f.email_field :email %><br><br>
    <%= f.label :password%><br>
    <%= f.password_field :password%><br><br>
    <%= f.submit "create"%>
<% end %>
Or <%= button_to("Log In with Google", '/auth/google')%>
<p>
</div>