<h1>INCLUSIVE</h1>
<h2> Log in or Sign up to Review local businesses for Disability Accesibility!</h2>
<h3> <%= link_to "Log in", login_path%>
<%= link_to 'Sign in with Gmail', '/auth/google_oauth2'%></h3>
<h4> If you're new, create an account here! </h4> 
<div>
<%= form_with(model: @user, url: '/signup', local: true) do |f| %>
    <%= f.label :username %><br>
    <%= f.text_field :username %><br><br>
    <%= f.label :email %><br>
    <%= f.email_field :email %><br><br>
    <%= f.label :password%><br>
    <%= f.password_field :password%><br><br>
    <%= f.submit "create"%>
<% end %>
</div>