<h1>Login Here!</h1>
<% if @errors %>
    <ul>
      <li>
        <%= @errors %>
      </li>
    </ul>
  <% end %>
<div>
<%= form_for @user, url: "/login" do |f| %>
    <%= f.label :username %><br>
    <%= f.text_field :username %><br><br>
    <%= f.label :password%><br>
    <%= f.password_field :password%><br><br>
    <%= f.submit "Log In"%>
<% end %>

</div>