#will show email and username.
#will list recently reviewed businesses
#will have link to new review form and new business form.
<h1><center> All of <%= @user.username.capitalize %>'s Reviews! </center></h1>

<% @user.reviews.each do |review| %>
    <ul>
        <li>
            <h3><%= review.title%></h3>
            <p>
            <%= review.business.name%>
            <p>
            <%= review.content %>
            <p>
            <small><%= review.created_at %></small>
        </li>
        ----------------------------------------------
    </ul>
<% end %>

# <%= form_for @review do |f| %>
#     <%= review_header(f) %>
#     <%= f.label :review_title %>
#     <%= f.text_field :review_title %><br>
#     <%= f.label :accesibility_rating %>
#     <%= f.text_field :accesibility_rating %><br>
#     <%= f.label :review_body %>
#     <%= f.text_field :review_body %><br>
#     <%= f.label :accesibility_features %>
#     <%= f.text_field :accesibility_features %><br>
#     <%= f.submit %>
  
#   <% end %>