
<h3> <%= link_to "Businesses", businesses_path%></h3>

<h1><center> All of <%= @user.username.capitalize %>'s Reviews! </center></h1>

<% @review.businesses.each do |r| %>
    <ul>
        <li>
        <%= hidden_field :user_id, value: current_user.id %>
        <%= hidden_field :business_id, value: business.id %>  
           Title: <h3><%= review.review_title %></h3>
            <br>
            Review Created: <small><%= review.review_created_at %></small>
        </li>
        ----------------------------------------------
    </ul>
<% end %>

<div><h4> <%= link_to "Log out", logout_path %> </h4></div>
