#view a recently  made review for abusiness
#link to edit, Link to delete 
#link to user index page

<h1><%= @review.business.business_name %></h1>

<div>
  <h2>Review Title: <%= @review.review_title %>
  <h3>By: <%= @review.username %></h3>
  
  <li><%= @review.accesibility_rating %></li>
  <p><%= @review.review_body %></p>
  <p><%= @review.accesibility_features %></p>
  <br>
</div>


<% if current_user == @review.user %>
  <%= link_to "Edit Review", edit_review_path(@review) %> |
  <%= link_to "Delete", @question, method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
